body{
    background-color: rgba(245, 245, 245, 0.758);
}


.carousel-caption{
    text-align: start;
    bottom: 200px;
    margin-right: 200px;
}
.btn1{
    background-color: darkmagenta;
    border-radius: 30px;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
}
.btn1:hover{
    background-color: rgba(237, 142, 237, 0.292);
    
}
.btn2{
    
    background-color:magenta;
    border-radius: 0px;
    color: white;
    border: none;
    width: 10%;
    height: 50px;

}
input{
    border: none;
   margin-left: 5px;
}
.modal-footer{
    width: 20%;
    margin-left: 200px;
}
.w{
    width: 90%;
    border: 0px white  solid;
    margin-left: 78px;

  
}
.w:hover{
    transform: scale(1.02);
    
     box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




    

.card1:hover{
    transform: scale(1.02);
    
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card2:hover{
    transform: scale(1.02);
    
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card3:hover{
    transform: scale(1.02);
    
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





        
        
    
    @media(orientation:portrait)
   
    {
        .head2{
            font-size: 15px;
            margin-top: 10px;
        }
        .head5{
            font-size: 10px;
            margin-bottom: 10px;
        }
        .para5{
            font-size: 9px;
            margin-top: 10px;
        }
       .r{
        width: 200%;
        margin-left: 70px;
       }
       .w{
        width: 80%;
        margin-left: 50px;
       }
       .roww{
        width: 100%;
        margin-left: 50px;
       }







        .head1{
                font-size: 25px;
        }
        .carousel-caption{
            text-align: start;
        margin-bottom: -200px;
        font-size: 10px;

    }
    .p1{
        font-size: 12px;
        text-align: center;
    }
    .btn1{
        width: 100%;
        height: 30px;
        margin-bottom: -50px;
    }
 
    .btn2{
    
        background-color:magenta;
        border-radius: 0px;
        color: white;
        border: none;
        width: 100%;
        height: 25px;
       
    
     
    }
    .lum{
        height: 40px;
        width: 200%;
    }




}
   